<%- include ('partials/header') %>
    <%- include ('partials/navbar') %>


        <div class="col-lg-9 col-md-9 col-sm-12 " style="width: 100%;">
            <div class="col-lg-12 col-sm-12">
                <span class="title text-center">
                    <h3>SHOPPING CART</h3>
                </span>
            </div>
            <div class="col-lg-12 col-sm-12 hero-feature">
                <div class="table-responsive">
                    <table class="table table-bordered tbl-cart">
                        <thead>
                            <tr>
                                <td class="hidden-xs">Image</td>
                                <td>Product Name</td>
                                <td>Size</td>
                                <td>Color</td>
                                <td>Quantity</td>
                                <td>Unit Price</td>
                                <td>Sub Total</td>
                                <td>Remove</td>
                            </tr>
                        </thead>
                        <tbody>
                            <%products.forEach(function(product){%>
                                <tr>
                                    <td class="hidden-xs">
                                        <a href="/product/getProducts/<%=product.product._id%>">
                                            <img src="<%=product.product.images%>" alt="" title="" width="47"
                                                height="47">
                                        </a>
                                    </td>
                                    <td>
                                        <%=product.product.name%>
                                    </td>
                                    <td>
                                        <%=product.size%>
                                    </td>
                                    <td>
                                        <%=product.color%>
                                    </td>
                                    <td>
                                        <div>
                                            <form action="/cart/<%=product._id%>/updateCart" method="POST"
                                                class="d-flex text-center">
                                                <input type="text" style="width: 35px;" value="<%=product.quantity%>"
                                                    name="quantity">
                                                <button type="submit" class="btn btn-sm btn-warning"
                                                    value="updateQuantity" id="updateQuantity"><svg
                                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                                                        <path
                                                            d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                                                    </svg></button>
                                            </form>
                                        </div>


                                    </td>
                                    <td class="price">
                                        $<%=product.product.price%>

                                    </td>
                                    <td>
                                        $<%=parseInt(product.product.price)*product.quantity%>
                                    </td>
                                    <td class="text-center">
                                        <form action="/cart/<%=product._id%>/deleteCart?_method=DELETE" method="POST">
                                            <button type="submit" class="btn btn-danger"> <i
                                                    class="fa fa-trash-o"></i></button>
                                        </form>
                                        <!-- <a href="/cart/<%=product._id%>/deleteCart?_method=DELETE" data-method="delete" class="remove_cart" rel="2"> -->
                                        <!-- </a> -->
                                    </td>
                                </tr>
                                <%})%>
                                    <tr>
                                        <td colspan="6" align="right">Tax</td>
                                        <td class="total" colspan="2"><b>
                                                $<%=(finalTotal* 0.0825).toFixed(2)%>
                                            </b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="6" align="right">Total</td>
                                        <td class="total" colspan="2"><b>
                                                $<%=(finalTotal * 1.0825).toFixed(2)%>
                                            </b>
                                        </td>
                                    </tr>
                        </tbody>
                    </table>
                </div>
                <div class="btn-group btns-cart">

                    <button type="button" class="btn btn-warning"
                        onclick="window.location.href='/order/chekOut'">Checkout <i
                            class="fa fa-arrow-circle-right"></i></button>
                </div>

            </div>
        </div>
        <%- include ('partials/footer') %>