<%- include ('partials/header') %>
    <%- include ('partials/navbar') %>



        <div class="container text-center">
            <h1 class="text-center"> Product Details </h1>
            <!-- <%console.log(product.images)%> -->
            <p><img src="<%=product.images%>" /></p>
            <p>Name: <%= product.name %>
            </p>
            <p>Price: <%= product.price %>
            </p>
            <p>Description: <%= product.description %>
            </p>


            <a class="btn btn-warning" href="/admin/<%= product._id %>/editProduct" role="button">
                Edit product</a>

            <!-- <form action="/videos/<%= product._id %>?_method=DELETE" method="POST">

                <button type="submit" class="btn btn-danger">Delete product</button>

            </form> -->

            <p>
                <a href="/product/getProducts">Back to List</a>
            </p>

        </div>
        <%- include ('partials/footer') %>